.techfont{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
}
.center {
  margin:auto;
}
.postdate {
  text-align: center;
}
.posttitle{
  font-family: 'Russo One',sans-serif;
}
.postcontent{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
.footer{
  text-align: center;
  font-size:1.5em;
}

/* Color changer */
.rainbow {

   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 8s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 8s infinite;

  /* Standar Syntax */
  animation: rainbow 8s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}
